﻿@model _383_Phase1.Models.ContainerViewModel

@{
    ViewBag.Title = "Delete";
}

<h2>Delete User</h2>

<div>
    <hr />
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="form-actions text-center">
            <h4>Are you sure you want to delete <strong>@Html.DisplayFor(model => model.User.Username)</strong>?</h4>
            <ul class="list-inline">
                <li><input type="submit" value="Delete User" class="btn btn-danger" /></li>
                @Html.ActionLink("Nevermind", "", new { user = Model.User.UserID }, new { @class = "btn btn-default" })
            </ul>
        </div>
    }
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.User.Username)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.Username)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.LastName)
        </dd>
    </dl>
    @Html.ActionLink("Back to List", "Index")
</div>
