﻿@model _383_Phase1.Models.ContainerViewModel

@{
    ViewBag.Title = "Users";
}

<h2>Users</h2>
<hr />

<table class="table table-hover">
    <thead>
        <tr>
            <th class="col-md-1 text-right">
                @Html.DisplayNameFor(model => model.User.UserID)
            </th>
            <th class="col-md-2 text-center">
                @Html.DisplayNameFor(model => model.User.Username)
            </th>
            <th class="col-md-2 text-center">
                @Html.DisplayNameFor(model => model.User.FirstName)
            </th>
            <th class="col-md-2 text-center">
                @Html.DisplayNameFor(model => model.User.LastName)
            </th>
            <th class="col-md-2 text-center">
                @Html.ActionLink("Add New User", "Create")
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.iEnumUser)  
        {
            <tr>
                <td class="col-md-1 text-right">
                    @Html.DisplayFor(modellItem => item.UserID).ToString().PadLeft(6, '0')
                </td>
                <td class="col-md-2 text-center">
                    @Html.DisplayFor(modelItem => item.Username)
                </td>
                <td class="col-md-2 text-center">
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td class="col-md-2 text-center">
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td class="col-md-3 text-center">
                    @Html.ActionLink("Edit", "Edit", new { id = item.UserID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.UserID })
                </td>
            </tr>
        }
    </tbody>
</table>

