﻿@model _383_Phase1.Models.ContainerViewModel

@{
    ViewBag.Title = "Delete";
}

<h2>Delete Item</h2>
<div>
    <hr />
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="form-actions text-center">
            <h4>Are you sure you want to delete <strong>@Html.DisplayFor(model => model.Item.Name)</strong>?</h4>
            <ul class="list-inline">
                <li><input type="submit" value="Delete Item" class="btn btn-danger" /></li>
                @Html.ActionLink("Nevermind", "", new { id = Model.Item.ID }, new { @class = "btn btn-default" })
            </ul>
        </div>
    }
    <hr />
    <dl class="dl-horizontal well well-lg">
        <dt>
            @Html.DisplayNameFor(model => model.Item.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Item.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Item.Quantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Item.Quantity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Item.CreatedByUserID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Item.CreatedByUserID)
        </dd>
    </dl>
    @Html.ActionLink("Back to List", "Index")
</div>
