﻿@{
    ViewBag.Title = "Inventory";
}

@if (Request.IsAuthenticated)
{
    @Html.AntiForgeryToken()
    {
        <h2>Inventory</h2><hr />
    }
}
else
{
    <div style="padding: 30px; height: 10px;"></div>
}
@Html.Partial("~/Views/Partial_Views/_Inventory_Index.cshtml")

