﻿@model _383_Phase1.Models.ContainerViewModel

@{
    ViewBag.Title = "Purchase";
}

<h2>Purchase Item</h2>
<div>
    <hr />
    @using (Html.BeginForm("Purchase", "Item", FormMethod.Post))
    {
        @Html.HiddenFor(model => model.Item.ID)
        @Html.HiddenFor(model => model.Item.Name)
        @Html.HiddenFor(model => model.Item.CreatedByUserID)
        @Html.HiddenFor(model => model.Item.Quantity)
        @Html.AntiForgeryToken()
        {
            Model.PurchaseQuantity = 1;
        }
        <div class="form-actions text-center">
            <div class="form-group">
                <h4>
                    <ul class="list-inline">
                        <li style="vertical-align: middle;">Are you sure you want to purchase</li>
                        <li style="vertical-align: middle; width: 90px;">@Html.EditorFor(model => model.PurchaseQuantity, new { htmlAttributes = new { @class = "form-control col-md-1", min = 1 } })</li>
                        <li style="vertical-align: middle;"><strong>@Html.DisplayFor(model => model.Item.Name)</strong>?</li>
                    </ul>
                </h4>
            </div>
            <ul class="list-inline" style="padding-top: 20px;">
                <li><input type="submit" value="Purchase" class="btn btn-success" /></li>
                <li>@Html.ActionLink("Nevermind", "", new { id = Model.Item.ID }, new { @class = "btn btn-default" })</li>
            </ul>
        </div>
    
    }
    <hr />
    @Html.ActionLink("Back to List", "Index")
</div>