﻿@using Microsoft.AspNet.Identity
@model _383_Phase1.Models.ContainerViewModel

@if (Request.IsAuthenticated)
{
    @Html.AntiForgeryToken()
    {
        if (User.IsInRole("Administrator"))
        {
            <table class="table table-hover table-responsive">
                <thead>
                    <tr>
                        <th class="col-md-1 text-right ">
                            @Html.DisplayNameFor(model => model.Item.ID)
                        </th>
                        <th class="col-md-2 text-center">
                            @Html.DisplayNameFor(model => model.Item.Name)
                        </th>
                        <th class="col-md-1 text-center">
                            @Html.DisplayNameFor(model => model.Item.Quantity)
                        </th>
                        <th class="col-md-1 text-center">
                            @Html.DisplayNameFor(model => model.Item.CreatedByUserID).ToString()
                        </th>
                        <th class="col-md-4 text-center">
                            @Html.ActionLink("Add New Item", "Create")
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.iEnumItem)
                    {
                        <tr>
                            <td class="col-md-1 text-right">
                                @Html.DisplayFor(modellItem => item.ID).ToString().PadLeft(6, '0')
                            </td>
                            <td class="col-md-2 text-center">
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td class="col-md-1 text-center">
                                @Html.DisplayFor(modelItem => item.Quantity).ToString()
                            </td>
                            <td class="col-md-1 text-center">
                                @Html.DisplayFor(modelItem => item.CreatedByUserID).ToString()
                            </td>
                            <td class="col-md-4 text-center">
                                @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                                @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <table class="table table-hover table-responsive">
                <thead>
                    <tr>
                        <th class="col-md-2 text-center">
                            @Html.DisplayNameFor(model => model.Item.Name)
                        </th>
                        <th class="col-md-2 text-center">
                            In Stock
                        </th>
                        <th class="col-md-6"></th>
                        <th class="col-md-2"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.iEnumItem)
                    {
                        <tr>
                            <td class="col-md-2 text-center">
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td class="col-md-2 text-center">
                                @Html.DisplayFor(modelItem => item.Quantity).ToString()
                            </td>
                            <td class="col-md-6"></td>
                            <td class="col-md-2 text-left">
                                @Html.ActionLink("Purchase", "Purchase", new { id = item.ID }, new { @class = "btn btn-default btn-sm" })
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    }
}
else
{
    <table class="table table-hover table-responsive">
        <thead>
            <tr>
                <th class="col-md-2 text-center">
                    @Html.DisplayNameFor(model => model.Item.Name)
                </th>
                <th class="col-md-2 text-center">
                    In Stock
                </th>
                <th class="col-md-7"></th>
                <th class="col-md-1"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.iEnumItem)
            {
            <tr>
                <td class="col-md-2 text-center">
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td class="col-md-2 text-center">
                    @Html.DisplayFor(modelItem => item.Quantity).ToString()
                </td>
                <td class="col-md-6"></td>
                <td class="col-md-2 text-left">
                </td>
            </tr>
            }
        </tbody>
    </table>
}





