﻿@using Microsoft.AspNet.Identity

@model _383_Phase1.Models.ContainerViewModel

@if (Request.IsAuthenticated)
{
    @Html.AntiForgeryToken()
    {
        if (User.IsInRole("Administrator")) {
            <div class="navbar navbar-inverse navbar-fixed-top">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        @Html.ActionLink("Inventory Tracker", "Index", "Item", new { area = "" }, new { @class = "navbar-brand not-active", @id = "app-name" })
                    </div>
                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                            <li>@Html.ActionLink("Inventory", "Index", "Item", new { area = "" }, null)</li>
                            <li>@Html.ActionLink("Users", "Index", "User", new { area = "" }, null)</li>
                        </ul>
                        <ul class="nav navbar-nav pull-right">
                            <li style="color: lime; font-size: 0.6em; padding: 21px 0 0 0;">ADMIN</li>
                            <li>@Html.ActionLink(HttpContext.Current.User.Identity.GetUserName(), "Index", "User", new { @class = "not-active" }) </li>
                            <li style="padding: 10px 0 0 0; color: cadetblue; font-size: 1.6em;"> | </li>
                            <li> @Html.ActionLink("Sign out", "Logout", "User") </li>
                        </ul>
                    </div>
                </div>
            </div>
        }
        else
        {
            <div class="navbar navbar-inverse navbar-fixed-top">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        @Html.ActionLink("Inventory Tracker", "Index", "Item", new { area = "" }, new { @class = "navbar-brand", @id = "app-name" })
                    </div>
                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav pull-right">
                            <li>@Html.ActionLink(HttpContext.Current.User.Identity.GetUserName(), "Index", "User", new { @class = "not-active" }) </li>
                            <li style="padding: 10px 0; color: cadetblue; font-size: 1.6em;"> | </li>
                            <li> @Html.ActionLink("Sign out", "Logout", "User") </li>
                        </ul>
                    </div>
                </div>
            </div>
        }

    }
}
else
{

    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Inventory Tracker", "Index", "Item", new { area = "" }, new { @class = "navbar-brand", @id = "app-name" })
            </div>
            <div class="navbar-collapse collapse">
                @using (Html.BeginForm("SignIn","User"))
                {
                    @Html.AntiForgeryToken()
                    <div class="navbar-form navbar-right middle">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            @Html.EditorFor(model => model.User.Username, 
                                new { htmlAttributes = new { @class = "form-control input-sm", placeholder = Html.DisplayNameFor(model => model.User.Username) } })
                            @Html.ValidationMessageFor(model => model.User.Username, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.EditorFor(model => model.User.Password, 
                                new { htmlAttributes = new { @class = "form-control input-sm", placeholder = Html.DisplayNameFor(model => model.User.Password) } })
                            @Html.ValidationMessageFor(model => model.User.Password, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Sign in" class="btn btn-info btn-sm" />
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
}





