﻿@using Microsoft.AspNet.Identity
@model IEnumerable<_383_Phase1.Models.User>


@if (Request.IsAuthenticated)
{
    {
        @Html.AntiForgeryToken()
        {
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.UserID)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Username)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.FirstName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.LastName)
                        </th>
                        <th class="text-center">
                            @Html.ActionLink("Add New User", "Create")
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modellItem => item.UserID).ToString().PadLeft(6, '0')
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Username)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.FirstName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.LastName)
                            </td>
                            <td class="text-center">
                                @Html.ActionLink("Edit", "Edit", new { id = item.UserID }) |
                                @Html.ActionLink("Delete", "Delete", new { id = item.UserID })
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    }
}






